<!DOCTYPE html>
<html>
<head>
  <title>Nav highlighter</title>
  <%= stylesheet_link_tag    "nav_highlighter/application", media: "all" %>
  <%= javascript_include_tag "nav_highlighter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
